PORT=7003

DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_SCHEMA=public

JWT_SECRET=

SERVER_ENV=local

DEFAULT_USER=
DEFAULT_EMAIL=
DEFAULT_PASSWORD=

N8N_BASE_URL=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_KEY_ID=
R2_TOKEN=
R2_PUBLIC_DOMAIN=
R2_BUCKET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_NAME=admin <admin@yopmail.com>
SMTP_EMAIL=admin@yopmail.com
SMTP_PASSWORD=